<a href="/category/3" class="nav-link dropdown-toggle" role="button" aria-haspopup="true"
            aria-expanded="false">Acessories</a><a href="/category/1" class="nav-link dropdown-toggle" role="button" aria-haspopup="true"
            aria-expanded="false">Apple</a><a href="/category/2" class="nav-link dropdown-toggle" role="button" aria-haspopup="true"
            aria-expanded="false">Assus</a><a href="/category/4" class="nav-link dropdown-toggle" role="button" aria-haspopup="true"
            aria-expanded="false">Beauty</a><a href="/category/5" class="nav-link dropdown-toggle" role="button" aria-haspopup="true"
            aria-expanded="false">destaque</a>